/* /css/theme-font-size.css */
:root {
    --theme-font-size: 100%;
}

body {
    font-size: var(--theme-font-size);
}

p { font-size: calc(1rem * var(--theme-font-size) / 100); }
h1 { font-size: calc(2.5rem * var(--theme-font-size) / 100); }
h2 { font-size: calc(2rem * var(--theme-font-size) / 100); }
h3 { font-size: calc(1.75rem * var(--theme-font-size) / 100); }
h4 { font-size: calc(1.5rem * var(--theme-font-size) / 100); }
h5 { font-size: calc(1.25rem * var(--theme-font-size) / 100); }
h6 { font-size: calc(1rem * var(--theme-font-size) / 100); }